force-app/main/default/flows/Create_Observations_for_Inspection_Instance-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>No_Property_Set</name>
        <label>No Property Set</label>
        <locationX>347</locationX>
        <locationY>263</locationY>
        <actionName>NewNote</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>Title</name>
            <value>
                <elementReference>varInspectionObject.Name</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Was_Lender_Attr_Set</name>
        <label>Was Lender Attr Set</label>
        <locationX>758</locationX>
        <locationY>126</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lender_Attr_ID_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLenderAttrObject.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Lender_Attributes</targetReference>
            </connector>
            <label>Lender Attr ID Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Property_Set</name>
        <label>Was Property Set</label>
        <locationX>354</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>No_Property_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Property_ID_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPropertyObject.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Lender_Attr_Set</targetReference>
            </connector>
            <label>Property ID Set</label>
        </rules>
        <rules>
            <name>No_Property_Set2_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPropertyObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Property Set_outcome</label>
        </rules>
    </decisions>
    <description>Loops through and creates all the observation records for an inspection to occur</description>
    <interviewLabel>Create Observations for Inspection Instance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Observations for Inspection Instance</label>
    <loops>
        <name>Loop_Through_Lender_Attributes</name>
        <label>Loop Through Lender Attributes</label>
        <locationX>1014</locationX>
        <locationY>268</locationY>
        <assignNextValueToReference>varLenderAttrObject</assignNextValueToReference>
        <collectionReference>varLenderAttrObjectCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Observations_for_Attributes</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Observations_for_Attributes</name>
        <label>Create Observations for Attributes</label>
        <locationX>1024</locationX>
        <locationY>402</locationY>
        <assignRecordIdToReference>varObservationID</assignRecordIdToReference>
        <inputAssignments>
            <field>Attribute__c</field>
            <value>
                <elementReference>varLenderAttrObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inspection__c</field>
            <value>
                <elementReference>varInspectionID</elementReference>
            </value>
        </inputAssignments>
        <object>Observation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Lender_Attr_Set</name>
        <label>Find Lender Attr Set</label>
        <locationX>573</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Lender_Attr_Set</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lender__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropertyObject.Lender__c</elementReference>
            </value>
        </filters>
        <object>Lender_Attribute_Set__c</object>
        <outputReference>varLenderAttrSetObject</outputReference>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Lender_Attributes</name>
        <label>Find Lender Attributes</label>
        <locationX>1017</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Lender_Attributes</targetReference>
        </connector>
        <filters>
            <field>Lender_Attribute_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLenderAttrSetObject.Id</elementReference>
            </value>
        </filters>
        <object>Lender_Attribute__c</object>
        <outputReference>varLenderAttrObjectCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindInspectionProperty</name>
        <label>FindInspectionProperty</label>
        <locationX>154</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Property_Set</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropertyID</elementReference>
            </value>
        </filters>
        <object>Property__c</object>
        <outputReference>varPropertyObject</outputReference>
        <queriedFields>Lender__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>FindInspectionProperty</startElementReference>
    <variables>
        <name>varInspectionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varInspectionObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inspection__c</objectType>
    </variables>
    <variables>
        <name>varLenderAttrObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lender_Attribute__c</objectType>
    </variables>
    <variables>
        <name>varLenderAttrObjectCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lender_Attribute__c</objectType>
    </variables>
    <variables>
        <name>varLenderAttrSetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varLenderAttrSetObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lender_Attribute_Set__c</objectType>
    </variables>
    <variables>
        <name>varLenderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varObservationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varObservationObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Observation__c</objectType>
    </variables>
    <variables>
        <name>varObservationObjectCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Observation__c</objectType>
    </variables>
    <variables>
        <name>varPropertyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varPropertyObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Property__c</objectType>
    </variables>
</Flow>
