force-app/main/default/flows/Deactivate_Associated_Lendor_Attr_Sets_when_one_is_activated-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>LendorAttrSetsSet</name>
        <label>LendorAttrSetsSet</label>
        <locationX>300</locationX>
        <locationY>72</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lender_Attr_Sets_Are_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLenderAttrSetCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Lendor_Attr_Sets</targetReference>
            </connector>
            <label>Lender Attr Sets Are Set</label>
        </rules>
    </decisions>
    <interviewLabel>Deactivate Associated Lendor Attr Sets when one is activated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivate Associated Lendor Attr Sets when one is activated</label>
    <loops>
        <name>Loop_Through_Lendor_Attr_Sets</name>
        <label>Loop Through Lendor Attr Sets</label>
        <locationX>600</locationX>
        <locationY>79</locationY>
        <assignNextValueToReference>varLenderAttrSetObject</assignNextValueToReference>
        <collectionReference>varLenderAttrSetCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Deactivate_Lendor_Attr_Sets</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAssociatedLendorAttrSets</name>
        <label>GetAssociatedLendorAttrSets</label>
        <locationX>115</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LendorAttrSetsSet</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varLenderAttrSetID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lender__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLenderId</elementReference>
            </value>
        </filters>
        <object>Lender_Attribute_Set__c</object>
        <outputReference>varLenderAttrSetCollection</outputReference>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Lender__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_Lendor_Attr_Sets</name>
        <label>Deactivate Lendor Attr Sets</label>
        <locationX>598</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Loop_Through_Lendor_Attr_Sets</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLenderAttrSetObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lender_Attribute_Set__c</object>
    </recordUpdates>
    <startElementReference>GetAssociatedLendorAttrSets</startElementReference>
    <variables>
        <name>varLenderAttrSetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lender_Attribute_Set__c</objectType>
    </variables>
    <variables>
        <name>varLenderAttrSetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLenderAttrSetObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lender_Attribute_Set__c</objectType>
    </variables>
    <variables>
        <name>varLenderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
